@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: linear-gradient(
      45deg,
      rgba(14, 15, 75, 1) 0%,
      rgba(54, 25, 102, 1) 100%
    );
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(14, 15, 75);
  background: var(--background);
  scroll-behavior: smooth;
  cursor: none;
}

.stars div {
  position: relative;
  width: var(--size);
  height: var(--size);
  background: #ffffff;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #393869, 0 0 50px #ffffff, 0 0 100px #ffffff;
  animation: galaxy 15s linear infinite;
  animation-duration: calc(120s / var(--speed));
}

.stars div:nth-child(even) {
  background: #818dff;
  box-shadow: 0 0 0 10px #492d78, 0 0 50px #ffffff, 0 0 100px #ffffff;
}

@keyframes galaxy {
  0% {
    transform: translateY(-100vh) translateX(110vw) scale(1);
  }
  100% {
    transform: translateY(0vh) translateX(0vw) scale(0);
  }
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid #ffffff;
  border-radius: 50%;
  mix-blend-mode: hard-light;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999 !important;
  background-color: #70BDDD;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .flare {
    display: none;
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}

.cursor.progress {
  display: none;
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}
